################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/resumeWebsite/FileContentIndex/01cd74a9-2b99-42ff-bc2d-b91beea98f41.vsidx
